.gladius-profile {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gladius-profile .div-2 {
  background-color: var(--background);
  height: 844px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.gladius-profile .group {
  height: 161px;
  left: 13px;
  position: fixed;
  top: 385px;
  width: 350px;
}

.gladius-profile .stats-box {
  height: 124px;
  left: 7px;
  position: absolute;
  top: 37px;
  width: 341px;
}

.gladius-profile .stat-box-instance {
  left: 182px !important;
  position: absolute !important;
  top: 73px !important;
}

.gladius-profile .stat-box-2 {
  left: 182px !important;
  position: absolute !important;
  top: 0 !important;
}

.gladius-profile .stat-box-3 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.gladius-profile .stat-box-4 {
  left: 0 !important;
  position: absolute !important;
  top: 73px !important;
}

.gladius-profile .text-wrapper-2 {
  color: var(--text);
  font-family: var(--title-poppins-large-font-family);
  font-size: var(--title-poppins-large-font-size);
  font-style: var(--title-poppins-large-font-style);
  font-weight: var(--title-poppins-large-font-weight);
  left: 0;
  letter-spacing: var(--title-poppins-large-letter-spacing);
  line-height: var(--title-poppins-large-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 120px;
}

.gladius-profile .transfer-button {
  height: 49px;
  left: 17px;
  position: fixed;
  top: 587px;
  width: 343px;
}

.gladius-profile .overlap-group {
  background: linear-gradient(180deg, rgb(230.56, 208.95, 14.41) 0%, rgb(223.12, 110.43, 28.82) 100%);
  border-radius: 8px;
  box-shadow: 0px 1px 4px #00000040;
  height: 49px;
  position: relative;
  width: 341px;
}

.gladius-profile .text-wrapper-3 {
  color: var(--text);
  font-family: var(--title-poppins-large-font-family);
  font-size: var(--title-poppins-large-font-size);
  font-style: var(--title-poppins-large-font-style);
  font-weight: var(--title-poppins-large-font-weight);
  left: 74px;
  letter-spacing: var(--title-poppins-large-letter-spacing);
  line-height: var(--title-poppins-large-line-height);
  position: absolute;
  text-align: center;
  top: 11px;
  width: 194px;
}

.gladius-profile .text-wrapper-4 {
  color: var(--text);
  font-family: var(--title-poppins-large-font-family);
  font-size: var(--title-poppins-large-font-size);
  font-style: var(--title-poppins-large-font-style);
  font-weight: var(--title-poppins-large-font-weight);
  left: 90px;
  letter-spacing: var(--title-poppins-large-letter-spacing);
  line-height: var(--title-poppins-large-line-height);
  position: fixed;
  text-align: center;
  top: 316px;
  width: 194px;
}

.gladius-profile .level-2 {
  color: var(--text);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  left: 55px;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  position: fixed;
  text-align: center;
  top: 345px;
  width: 263px;
}

.gladius-profile .cover-profile-image-instance {
  left: 1px !important;
  position: fixed !important;
  top: -2px !important;
}

.gladius-profile .cover-profile-image-2 {
  height: 248px !important;
}

.gladius-profile .navigation-bar-instance {
  align-items: flex-end !important;
  left: 0 !important;
  position: fixed !important;
  bottom: 0 !important; /* Align to the bottom of the viewport */
}


.gladius-profile .user {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}
