.cover-profile-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 375px;
}

.cover-profile-image .image-placeholder {
  align-self: stretch;
  height: 250px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.cover-profile-image .profile-image {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-top: -70px;
  position: relative;
  width: 375px;
}

.cover-profile-image .avatar-instance {
  border: 2px solid !important;
  border-color: var(--background) !important;
  border-radius: 20px !important;
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-top: -2px !important;
  transition: all 0.3s ease !important;
}

.cover-profile-image .design-component-instance-node {
  background-image: url(../../../static/img/avatar-placeholder.png) !important;
  position: relative !important;
}
